.container {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: grey;
    padding: 20px;
    margin: 10px;
}

/* .jumbotron {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;
} */